name: shabd
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.10.3

dependencies:
  flutter:
    sdk: flutter
  flutter_local_notifications: ^20.0.0
  google_fonts: ^8.0.0
  intl: ^0.20.2
  path_provider: ^2.1.5
  provider: ^6.1.5+1
  share_plus: ^12.0.1
  timezone: ^0.10.1
  flutter_timezone: ^5.0.1



dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0
  flutter_launcher_icons: ^0.14.4

flutter:
  uses-material-design: true
  assets:
    - assets/words.json
    - assets/images/

flutter_launcher_icons:
  android: "launcher_icon"
  ios: true
  image_path: "assets/images/logo.png"
